*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: rgb(224, 228, 232);
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 26% 55% 19%;
}
#left-top-right{
    /* background-color: blue; */
    padding: 55px;
}
#square{
    height: 25px;
    width: 25px;
    rotate: 45deg;
}

#left-top-left{
    /* background-color: aqua; */
    justify-self: end;
    padding: 35px;
    text-align: right;
}
#left-top-left h4{
    margin-bottom: 35px;
    font-size: 18px;
    font-weight: 500;
}
#left-top-left h5{
    /* margin-bottom: 35px; */
    font-size: 15px;
    font-weight: 500;
}
#left_center{
    /* background-color: blueviolet; */
    grid-column: 1/3;
    padding: 50px;
}
#left_center h1{
    font-size: 5.5vw;
    font-weight: 500;
    line-height: 6vw;
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;
}
#left_center h1:nth-child(2n){
    text-align: center;
}
#left_bottom{
    /* background-color: brown; */
    grid-column: 1/3;
    padding: 50px;
}
#left_bottom{
    width: 70%;
}
#right{
    /* background-color: tomato; */
    grid-column: 3;
    grid-row: 1 / 4;
    padding: 40px;
    padding-right: 200px;
}
#right video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#arrow {
    position: absolute;
    top: 50%;
    left: 53%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(237, 119, 76);
    color: #fff;
    padding: 20px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
#arrow i{
    font-size: 30px;
    font-weight: 100;
}