*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

/* upper part is boiler plate of css */
/* h1{
    color: blueviolet;
    background-color: black;
    font-size: 100px;
    font-family: verdana;
    font-weight: 100;
} */
/* #box{
    height: 200px;
    width: 200px;
    background-color: brown;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

h1{
    color: rgb(27, 158, 160);
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}