*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
#main
{
    height: 100%;
    width: 100%;
    background-color: white;
}
#nav{
    height: 100px;
    width: 100%;
    /* background-color: aqua;   */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
}
#nav-part1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}
#nav h3{
    font-size: 17px;
    font-weight: 500;
    border: 1.5px solid black;
    padding: 5px 10px;
    border-radius: 50px;
}#nav i{
    font-size: 17px;
    font-weight: 500;
    border: 1.5px solid black;
    padding: 5px 8px;
    border-radius: 50px;
}
#nav h1{
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
}
#nav button{
    font-size: 17px;
    padding: 7px 12px;
    border-radius: 50px;
    border: 1.5px solid black;
    font-weight: 600;
    /* background-color: white; */
}
#btn1{
    background-color: white;
}
#btn2{
    color: white;
    background-color: orangered;
}
#main>h1{
    font-size: 150px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
}
#main>img{
    height: 400px;
    width: 350px;
    object-fit: cover;
    object-position: top;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 20%;
    /* transform: translate(-50%,-50%); */
}
#i1{
  transform: translate(-50%,-50%) rotate(-30deg);
}
#i2{
  transform: translate(-50%,-50%) rotate(-20deg);
}
#i3{
  transform: translate(-50%,-50%) rotate(-10deg);
}
#i4{
    transform: translate(-50%,-50%) rotate(0deg);
}
#btm-left{
    position: absolute;
    bottom: 5%;
    left: 3%;
    font-size: 17px;
}
#footer{
    display: flex;
    align-items: end;
    justify-content: space-between;
   position: absolute;
   bottom: 15%;
   left: 90%;
   font-size: 25px;
   font-weight: 500;
   padding: 5px 10px;
}
#end{
   position: absolute;
   bottom: 8%;
   left: 90%;
   font-size: 17px;
   font-weight: 500;
   padding: 5px 10px;
    /* text-align: center; */

}



