body{
     /* display: flex;
    justify-content: center;
    align-items: center; */ 
    /* padding: 200px;
    margin: 300px;  */
} 
/* #image{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 50%;
    /* width: 40%; 
} */

#nav{
    /* position: fixed; */
    font-weight: 800;
    font-family: Arial;
    gap: 20px;
    padding: 20px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
     align-items: center;
     
}
#scrollbar{
    font-size: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color:antiquewhite
}